node_modules
dist
data
test
docs
scripts
.git
.gitignore
.gitattributes
.env
.env.*
*.log
*.sqlite
*.sqlite-wal
*.sqlite-shm
README.md
readme_tmp.md
vitest.config.ts
fly.toml
Dockerfile
.dockerignore
